body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    background-color: rgb(213, 226, 238);
    padding: 60px 35px;
    border-radius: 10px;
}
.form-href{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.href{
    color: #082174;
    text-decoration: none;
    list-style: none;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
    color: linear-gradient(45deg, #30cfd0, #330867);
}
.name, .year{
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: aliceblue;
}
.error, .error2{
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: -10px;
}
.btn{
    background: linear-gradient(45deg, #30cfd0, #330867);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    color: aliceblue;
}
.errors{
    border: 1px solid red;
}